.appMount-2yBXZl,
body,
.app-2CXKsg {
    background: none;
}

.bg-1QIAus {
    background: url(data:image/https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/1735420/9b440056402b511198618f91d4a3a3e73d52663b.webm) center top no-repeat var(--app-bg);
    filter: hue-rotate(calc(var(--hue-shift) * 1deg)) saturate(var(--saturation-factor,1));
}

.content-1SgpWY {
    justify-content: center;
}
